{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="dashlet-options">
    <div class="row-fluid">
        {{#if settings.attributes.visibility}}
            <div class="btn-group dashlet-group pull-right" data-toggle="buttons-radio">
                <button class="btn{{#eq settings.attributes.visibility "user"}} active{{/eq}}" value="user" data-action="visibility-switcher" rel="tooltip" data-container="body" data-placement="bottom" title="{{str "LBL_PMSE_MY_EMAIL_TEMPLATES" this.module}}" aria-pressed="{{#eq settings.attributes.visibility "user"}}true{{else}}false{{/eq}}" track="click:viewMyUserDashlet">{{str "LBL_PMSE_MY_EMAIL_TEMPLATES" this.module}}</button>
                <button class="btn{{#eq settings.attributes.visibility "group"}} active{{/eq}}" value="group" data-action="visibility-switcher" rel="tooltip" data-container="body" data-placement="bottom" title="{{str "LBL_PMSE_ALL_EMAIL_TEMPLATES" this.module}}" aria-pressed="{{#eq settings.attributes.visibility "group"}}true{{else}}false{{/eq}}" track="click:viewMyTeamsDashlet">{{str "LBL_PMSE_ALL_EMAIL_TEMPLATES" this.module}}</button>
            </div>
        {{/if}}
    </div>
</div>
