{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<h4>{{str "LBL_SOURCE_CODE" module}}</h4>
<dl class="list">
    <dt><a target="_blank" href="http://www.sugarcrm.com">Sugar</a> ({{str 'LBL_SUGAR_VERSION' module}} {{serverInfo.version}})</dt>
    <dd>{{str 'LBL_SUGAR_SOURCECODE_DESC' module}}</dd>
    <dt>{{str 'LBL_THIRD_PARTY_SOFTWARE_TITLE' module}}</dt>
    <dd>{{str 'LBL_THIRD_PARTY_SOURCECODE' module}} <a target="_blank" href="http://www.sugarcrm.com/third-party-software">http://www.sugarcrm.com/third-party-software</a>.</dd>
</dl>
