{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="headerpane">
    <div style='top:0px; left:0px; width: 100%; height:30px; border-left: 1px solid #dcc171; float: left;'>
        <h1>
            {{#if view.context.attributes.case.title.time.expected_time}}<!--expected-->
                {{#if view.context.attributes.case.title.time.expected_time_warning}}<!--expectedWarning-->
                    <div style="position: absolute; left:20px; padding-top: 6px;">
                        <h1><date>{{view.context.attributes.case.title.process}}<!--pTitle--></date>&nbsp;&nbsp;|&nbsp;&nbsp;<date>{{view.context.attributes.case.title.activity}}<!--actName--></date>&nbsp;&nbsp;[&nbsp;<date style="color: rgb(230,23,23);">Overdue</date>&nbsp;<date style="color: rgba(230,23,23,0.98);">{{view.context.attributes.case.flow.cas_due_date}}<!--expected--></date>&nbsp;]</h1>
                    </div>
                {{else}}
                    <div style="position: absolute; left:20px; padding-top: 6px;">
                        <h1><date>{{view.context.attributes.case.title.process}}<!--pTitle--></date>&nbsp;&nbsp;|&nbsp;&nbsp;<date>{{view.context.attributes.case.title.activity}}<!--actName--></date>&nbsp;&nbsp;[&nbsp;Due Date&nbsp;<date style="color: rgba(160,161,163,0.98);">{{view.context.attributes.case.flow.cas_due_date}}<!--expected--></date>&nbsp;]</h1>
                    </div>
                {{/if}}
            {{else}}
                <div style="position: absolute; left:20px; padding-top: 6px;">
                    <h1><date>{{view.context.attributes.case.title.process}}<!--pTitle--></date>&nbsp;&nbsp;|&nbsp;&nbsp;<date>{{view.context.attributes.case.title.activity}}<!--actName--></date></h1>
                </div>
            {{/if}}
        </h1>
    </div>
    <div style="float: left; width: 100%; height: 60px;" >
        <h1>
            {{#each view.meta.panels}}
                {{#if header}}
                    {{#each grid}}
                        {{#each this}}
                            <span class="record-cell" data-type="{{type}}" data-name="{{name}}">
                                    <span class="table-cell-wrapper">
                                        {{#if ../../labels}}
                                            {{#unless dismiss_label}}
                                                <span class="record-label" data-name="{{name}}">{{str label ../../../../../../view.module}}</span>
                                            {{/unless}}
                                        {{/if}}
                                        <span class="index{{index}}" data-fieldname="{{name}}" data-index="{{index}}">
                                            {{field ../../../../view model=../../../../view.model template=../../../../view.action}}
                                        </span>
                                        {{#unless ../../../../view.context.attributes.case.reclaim}}
                                            {{#unless ../../../../../createMode}}
                                                {{#notHas name ../../../../../../view.noEditFields}}
                                                    <span class="record-edit-link-wrapper" data-name="{{name}}">
                                                    <a class="record-edit-link btn btn-invisible" data-type="{{type}}" data-name="{{name}}"><i class="fa fa-pencil"></i></a>
                                                </span>
                                                {{/notHas}}
                                            {{/unless}}
                                        {{/unless}}
                                    </span>
                                </span>
                        {{/each}}
                    {{/each}}
                {{/if}}
            {{/each}}
            {{#if view.enableHeaderButtons}}
                <div class="btn-toolbar pull-right">
                    {{#unless view.createMode}}
                        {{#if view.showPrevNextBtnGroup}}
                            <div class="btn-group btn-group-previous-next">
                                <button class="btn btn-invisible previous-row{{#unless view.showPrevious}} disabled{{/unless}}"
                                        data-action="scroll" data-action-type="prev"
                                        data-id="{{fieldValue view.model "id"}}" rel="tooltip" data-placement="bottom" title="{{str "LNK_LIST_PREVIOUS" view.module}}"{{#unless view.showPrevious}} tabindex="-1"{{/unless}} aria-label="{{str "LNK_LIST_PREVIOUS" view.module}}">
                                    <i class="fa fa-chevron-left"></i>
                                </button>
                                <button class="btn btn-invisible next-row{{#unless view.showNext}} disabled{{/unless}}"
                                        data-action="scroll" data-action-type="next"
                                        data-id="{{fieldValue view.model "id"}}" rel="tooltip" data-placement="bottom" title="{{str "LNK_LIST_NEXT" view.module}}"{{#unless view.showNext}} tabindex="-1"{{/unless}}  aria-label="{{str "LNK_LIST_NEXT" view.module}}">
                                    <i class="fa fa-chevron-right"></i>
                                </button>
                            </div>
                        {{/if}}
                    {{/unless}}
                    {{#each view.meta.buttons}}
                        {{field ../view}}
                    {{/each}}
                </div>
            {{/if}}
        </h1>
    </div>
</div>
