{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
{{!
    FIXME TY-1464: Don't hardcode the "Dashboards" module.
}}
<li><a href="javascript:void(0);" data-action="manager"><i class="fa fa-bars"></i> {{str "LBL_MANAGE_DASHBOARDS" "Dashboards"}}</a></li>
<li class="divider"></li>
{{#eq this.length 0}}
    <li><a href="javascript:void(0);" class="disabled"><em>{{str "LBL_DASHBOARD_NO_RECORDS" this.module}}</em></a></li>
{{/eq}}
{{#notEq this.length 0}}
    {{#each this.models}}
        <li><a href="javascript:void(0);" data-id="{{fieldValue this "id"}}">
            {{#if this.attributes.default_dashboard}}
                <i class="fa fas fa-dashboard-default"></i>
            {{else}}
                <i class="fa fa-th"></i>
            {{/if}}
            {{fieldValue this "name"}}
        </a></li>
    {{/each}}
{{/notEq}}
