{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="accordion-heading">
    <a id='{{name}}Title' class="accordion-toggle" data-help-id="{{name}}" data-toggle="collapse"
       data-parent="#config-accordion" href="#{{name}}Collapse"></a>
</div>
<div id="{{name}}Collapse" class="accordion-body collapse">
    <div class="accordion-inner record">
        {{#each meta.panels}}
            {{#each fields}}
                <div class="row-fluid">
                    <div class="span12 record-cell">
                        <label for="{{name}}" data-name="{{name}}" class="record-label">
                            {{str label ../../module}}
                        </label>
                        <span class="normal">
                            {{field ../../this model=../../model}}
                        </span>
                    </div>
                </div>
            {{/each}}
        {{/each}}
        <div id="sales-stage-text">
            {{partial 'sales-stage-text' this this}}
        </div>
    </div>
</div>
