{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<label>{{str 'LBL_SALES_STAGE' 'Opportunities'}}</label>

<p>
    {{str 'LBL_OPPS_CONFIG_SALES_STAGE_1a' 'Opportunities'}}
    <br>
    {{str 'LBL_OPPS_CONFIG_SALES_STAGE_1b' 'Opportunities'}}
</p>

<p>
    {{str 'LBL_OPPS_CONFIG_SALES_STAGE_2a' 'Opportunities'}}
    <br>
    {{str 'LBL_OPPS_CONFIG_SALES_STAGE_2b' 'Opportunities'}}
</p>

<p>
    {{str 'LBL_OPPS_CONFIG_SALES_STAGE_3a' 'Opportunities'}}
    <br>
    {{str 'LBL_OPPS_CONFIG_SALES_STAGE_3b' 'Opportunities'}}
</p>
