{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="select2-container select2-container-multi select2-choices-pills-close
    select2 span12 kb-attachmentlist-details-view">
    <ul class="select2-choices">
        {{#each value}}
        <li class="select2-search-choice">
            <div>
                <span class="select2-choice-type">
                    <a class="ellipsis_inline kb-attachment-link"
                       data-placement="bottom"
                       title="{{name}}"
                       href="{{url}}"
                       data-url="{{url}}"
                       data-action="download"
                       download="download">{{fileName}}
                    </a>
                    <a class="kb-attachment-link-type"
                       href="{{url}}"
                       data-url="{{url}}"
                       data-action="download"
                       download="download">{{fileExt}}</a>
                </span>
            </div>
        </li>
        {{/each}}
        {{#if value}}
        <li>
            <button class="btn-link btn-invisible btn-kb-download-all" data-action="download-all">
                <i class="fa fa-download"></i>{{str this.download_label this.module}}
            </button>
        </li>
        {{/if}}
    </ul>
</div>
