{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="accordion-heading">
    <a id='{{name}}Title' class="accordion-toggle" data-help-id="{{name}}" data-toggle="collapse" data-parent="#config-accordion" href="#{{name}}Collapse"></a>
</div>
<div id="{{name}}Collapse" class="accordion-body collapse">
    <div class="accordion-inner">
        {{#each meta.panels}}
            <p>{{str "LBL_FORECASTS_CONFIG_TIMEPERIOD_DESC" "Forecasts"}}</p>
            <ol>
                {{#each fields}}
                    {{#if enabled}}
                        <li>
                            <p>{{{str ../label "Forecasts"}}}</p>
                            <p>{{field ../../../this model=../../../model}}</p>
                            <p id="{{../name}}_sublabel"></p>
                            <p id="{{../name}}_subfield"></p>
                        </li>
                    {{/if}}
                {{/each}}
            </ol>
        {{/each}}
    </div>
</div>
