{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}

{{#if tagList}}
    <div class="ellipsis_inline" data-placement="bottom" data-container="body" title="{{tagList}}" rel="tooltip">
        {{#each value}}
        <a class="ellipsis-inline" href="#search/?tags={{encodedValue}}" track="click:{{name}}" data-action="tag-search" data-tag="{{this.name}}">
            {{this.name}}</a>{{#unless @last}}, {{/unless}}
        {{/each}}
    </div>
{{/if}}
