{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="welcome">
    <div class="thumbnail login">
        <div class="tcenter">
            <h2 class="brand"><img src="{{logoUrl}}" alt="SugarCRM"></h2>
        </div>
        <form name='{{name}}' class="tcenter">
        	<p>{{str "LBL_LOGGED_OUT"}}
        	</p>
        	<p>&nbsp;</p>
            <p class="wide">
                    <a class="btn btn-block btn-primary" name="login_button"
                       title="{{str "LBL_LOGIN_BUTTON_LABEL"}}">{{str "LBL_RETURN_TO_LOGIN_PAGE"}}</a>
			</p>
        </form>
    </div>
</div>
