{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}

<div class="control-group dashlet-options">
    <div class="controls{{#if isManager}} controls-two btn-group-fit{{/if}}">
        <div class="row-fluid">
            {{#if displayTimeperiodPivot}}
            <div class="{{spanSize}}">
                {{#each dashletConfig.timeperiod}}
                    {{field ../this model=../this.settings template="edit"}}
                {{/each}}
            </div>
            {{/if}}
            <div class="{{spanSize}} groupByOptions">
                {{#with dashletConfig.group_by}}
                    {{field ../this model=../this.settings}}
                {{/with}}
            </div>
            {{#if dashletConfig.show_dataset}}
            <div class="{{spanSize}}">
                {{#with dashletConfig.dataset}}
                    {{field ../this model=../this.settings}}
                {{/with}}
            </div>
            {{/if}}
        </div>
        {{#if isManager}}
        <div id="{{cid}}-mgr-toggle" class="btn-group dashlet-group" data-toggle="buttons-radio">
            <button track="click:viewMyUserForecastPareTo" class="btn {{#eq settings.attributes.visibility "user"}}active{{/eq}}" rel="tooltip" value="user" data-action="visibility-switcher" title="{{{str "LBL_DASHLET_MY_FORECAST" 'Forecasts'}}}" data-placement="bottom" aria-label="{{{str "LBL_DASHLET_MY_FORECAST" 'Forecasts'}}}" aria-pressed="{{#eq settings.attributes.visibility "user"}}true{{else}}false{{/eq}}">
                <i class="fa fa-user"></i>
            </button>
            <button track="click:viewMyTeamsForecastPareTo" class="btn {{#eq settings.attributes.visibility "group"}}active{{/eq}}" rel="tooltip" value="group" data-action="visibility-switcher" title="{{{str "LBL_DASHLET_MY_TEAMS_FORECAST" 'Forecasts'}}}" data-placement="bottom" aria-label="{{{str "LBL_DASHLET_MY_TEAMS_FORECAST" 'Forecasts'}}}" aria-pressed="{{#eq settings.attributes.visibility "group"}}true{{else}}false{{/eq}}">
                <i class="fa fa-users"></i>
            </button>
        </div>
        {{/if}}
    </div>
</div>
{{#with dashletConfig.chart}}
    {{field ../this model=../this.settings template=detail}}
{{/with}}
