{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="filter-header">
    <div class="row-fluid">
        <div class="controls span6">
            <strong>{{str "LBL_MASS_UPDATE"}}</strong>
        </div>
        <div class="pull-right">
            {{#each meta.buttons}}
                {{field ../this}}
            {{/each}}
        </div>
    </div>
</div>
{{#each fieldValues}}
<div class="filter-body clearfix">
    <div class="row-fluid">
        <div class="filter-field controls span4">
            <select class="select2 mu_attribute inherit-width" data-index="{{@index}}">
                {{#if name}}
                <option value="{{name}}" selected>{{str label ../../this.model.module}}</option>
                {{else}}
                <option value="{{../../defaultOption.name}}" selected>{{str ../../defaultOption.label ../../this.model.module}}</option>
                {{/if}}
                {{#each ../fieldOptions}}
                <option value="{{name}}" {{#eq name ../name}}selected{{/eq}}>{{str label ../../this.model.module}}</option>
                {{/each}}
            </select>
        </div>
        <div class="filter-value controls span8">
            <span name="fieldPlaceHolder" index="{{@index}}">
            </span>
        </div>
        <div class="filter-actions btn-group">
            {{#notEq ../fieldValues.length 1}}
            <button data-action="remove" class="btn btn-invisible btn-dark" data-index="{{@index}}" rel="tooltip" data-placement="bottom" title="{{str "LBL_MASS_UPDATE_REMOVE_FIELD"}}"><i class="fa fa-minus"></i></button>
            {{/notEq}}
            <button data-action="add" class="btn btn-invisible btn-dark {{#eq ../fieldOptions.length 0}}disabled{{/eq}}" rel="tooltip" data-placement="bottom" title="{{str "LBL_MASS_UPDATE_ADD_FIELD"}}"><i class="fa fa-plus"></i></button>
        </div>
    </div>
</div>
{{/each}}
<div id="fieldPlaceHolders" class="hide">
    {{#each meta.panels}}
        {{#each fields}}
            {{field ../../this template='massupdate'}}
        {{/each}}
    {{/each}}
</div>
