{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<h4>{{str "LBL_RESOURCES" module}}</h4>
<ul class="list">
    <li><a target="_blank" href="http://support.sugarcrm.com/02_Documentation/01_Sugar_Editions?utm_source=App&utm_medium=about&utm_content={{this.serverInfo.version}}&utm_campaign={{this.serverInfo.product_name}}">{{str "LBL_RESOURCES_DOCUMENTATION" module}}</a></li>
    <li><a target="_blank" href="http://support.sugarcrm.com/04_Find_Answers/03_Developers?utm_source=App&utm_medium=about&utm_content={{this.serverInfo.version}}&utm_campaign={{this.serverInfo.product_name}}">{{str "LBL_RESOURCES_DEVELOPERS" module}}</a></li>
    <li><a target="_blank" href="http://www.sugarcrm.com/company-overview?utm_source=App&utm_medium=about&utm_content={{this.serverInfo.version}}&utm_campaign={{this.serverInfo.product_name}}">{{str "LBL_RESOURCES_SUGAR_INFO" module}}</a></li>
</ul>
