{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<link type="text/css" href="modules/pmse_Project/css/jcore.libraries.css?v={{cacheKiller}}" rel="stylesheet" />
<link type="text/css" href="modules/pmse_Project/css/jcore.adam-ui.css?v={{cacheKiller}}" rel="stylesheet" />
<link type="text/css" href="modules/pmse_Project/css/jcore.adam.css?v={{cacheKiller}}" rel="stylesheet" />
<link type="text/css" href="modules/pmse_Project/css/pmse.css?v={{cacheKiller}}" rel="stylesheet" />

<div class="search-filter">
    <div class="control-group">
        <div class="filter controls controls-two btn-group-fit">
            <div class="filter-view search" style="padding-top: 3px">
                <div>
                    <input type="hidden" class="select2 search-filter" data-placeholder="{{str "LBL_MODULE"}}">
                    <div class="choice-filter"></div>
                    <input type="text" size=" " class="search-name" placeholder="{{str "LBL_BASIC_SEARCH"}}&hellip;">
                </div>
            </div>
        </div>
    </div>
</div>
